:root{
    --fundo-principal:#F5F5F5;
    --branco:#FFFFFF;
    --rotulo-placehold:#A2A2A2;
    --pontilhado:#C8C8C8;
    --fonte-botao-contorno:#2A7AE4;
    --preto:#464646;
    --sessao-principal:#E5E5E5;
    --fundo-rodape:#EAF2FD;
}

