
.login__principal{
	background-color: #e5e5e5;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 7rem auto 7rem;
}

.sessao{
	grid-column: 2;
	grid-row: 2;
	display:flex;
	flex-direction:column;
	gap:20px;
}

.sessao__titulo{
	align-self: center;
	font-weight: bold;
}

.sessao__campos{
	outline: none;
	padding:16px;
}

.sessao__botao{
	width: 109px;
	height: 40px;
	padding:12px 34px;
	align-self: center;
	background-color: #2a7ae4;
	color:#ffffff;
}

@media screen and (min-width: 1440px){
	
	.sessao__botao{
		width:100%;/*ajuatar no container*/
	}
	
}